*{
  margin: 0;
  padding: 0;
}
body {
  color: #444;
  font-family: sans-serif;
  border-top: 10px solid #1098ad;
}
 .container{
  width: 700px;
  margin-left: auto;
  margin-right: auto;
 }

/*main header*/
.header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
  height: 80px;
}

.h1-title {
  text-transform: uppercase;
  font-style: italic;
  font-size: 26px;
}

/*navigation*/
.nav a:link {
  text-decoration: none;
  color: #1098ad;
}


/*article*/
article{
  margin-bottom: 60px;
 
}
.post-header{
  margin: 40px;
}
.article-header {
  color: #1098ad;
  font-size: 40px;
  margin-bottom: 30px;

}

h1, h3 {
  color: #1098ad;
  font-family: sans-serif;

}
h3{
  color: #1098ad;
  font-family: sans-serif;
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.html-codes-img {
  width:100%;
  height: auto;

}

.Laura-img {
  width: 50px;
  height: 50px;
}

.Auther {
  font-family: sans-serif;
  font-style: italic;
  font-size: 18px;
}
.first-li{
  font-weight: bold;
}
a:link{
  color: #1098ad;
  text-decoration: none;
  font-size: 22px;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}
li:last-child{
  font-style: italic;
  margin-bottom: 0;
}



/*aside*/
aside{
  background-color: #f7f7f7;
  border-top: 5px #1098ad solid;
  border-bottom: 5px #1098ad solid;
  width: 500px;
  padding: 50px 0;
}
.aside-img{
width: 75px;
height: 75px;
}
li{
  font-size: 20px;
  margin-bottom: 10px;
}
h4{
  text-align: center;
  text-transform: uppercase;
}
p{
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ol,ul{
  margin-left: 50px;
  margin-bottom: 20px;
}
#copyright {
  font-size: 16px;
}